h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 175%;
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;  
    display: inline-block;
    border: 1px solid black;
    margin: -11px -11px 5px 0px;
    float: right;
    position: relative;
    padding: 0px 20px;
}
#s1>h3{
    background-color: orange;
}
#s2>h3{
    background-color: darkviolet;
}
#s3>h3{
    background-color: forestgreen;
}
body{
    margin: 0;
}
section{
    width: 31%;
    border: 1px solid black;
    float: left;
    padding: 10px;
    margin: 0px 0px 10px 10px;
    background-color: grey;
}
p{
    margin-bottom: 0px;
    clear: both;
}

@media(min-width:992px){
    section{
        width: 32%;
        box-sizing: border-box;
    }

}

@media(min-width:768px) and (max-width:991px){
    section{
        width:48%;
        box-sizing: border-box;
    }
    #s3{
        width: 97%;        
    }
}

@media(max-width:767px){
    section{
        width:95%;
    }

}